.nav-pills  {
    --bs-primary:#87b106;
    /* --bs-nav-pills-link-active-bg :red !important; */
    --bs-nav-pills-link-active-bg:#87b106;
}


/* #87b106 */

/* a {
    cursor: pointer;
} */

/* LOGO SVG STYLE */
a{
    cursor: pointer;
}



///MENU


.main-menu ul li ul.dropdown li:hover > a:before {
  opacity: 1;
  visibility: visible  !important;
}
.main-menu ul li ul.dropdown li:hover > ul.dropdown {
  top: 0;
  opacity: 1;
  visibility: visible !important;
}




.quill  .ql-toolbar:first-child{
  display: none !important;
}