root{
    $bs-primary {
        /* color:red; */
    }
}

.nav-link:hover {
    background-color: var(--bs-secondary)
}

/* a {
    cursor: pointer;
} */

/* LOGO SVG STYLE */
a{
    cursor: pointer;
}
